@media only screen and (min-width: 501px) {

  /*Háttér és betűszín*/
  body {
    background-color: #b30000;
    background-image: linear-gradient(#b30000, #ff0000);
    color:orange;
    overflow-x: hidden;
  }
  hr {color: orange; position: relative; bottom: 8em;}
  ::-moz-selection {background-color: black; color: darkgreen}
  ::selection {background-color: black; color: darkgreen}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
  /*Fejléc*/
  header {background-image: }
  h2 {
    font-size: 5em;
    text-align: center;
    font-family: sans-serif;
    text-shadow: 2px 1px 1px black;
  }
  pre {
    font-family: serif;
    font-size: 1em;
  }
  #open_hours {text-align: right; position: relative; bottom: 8em;}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*Kontrol menü*/
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: orange;
    margin-top: 2.5em;
  }
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    border-bottom: 2px solid #cc2900;
    width: 100%;
   }
  li:hover a:hover {background-color: green;}
  #facebook {
    margin: auto;
    padding: 0;
    border: 0px;
    border-radius: 50%;
    width: 3em;
    position: absolute;
    bottom: 6em;
    left: 15.5vw;
  }
  #facebook:hover {background-color: red;}
  #tripadvisor {
    margin: auto;
    padding: 0;
    border: 0px;
    border-radius: 50%;
    width: 3em;
    position: absolute;
    bottom: 7.4em;
    left: 15.5vw;
  }
  #tripadvisor:hover {background: none;}


  nav {position: relative; bottom: 10em;}

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
  /*Bejelentkező és regisztrációs gomb*/
  .login-box {
    text-align: center;
    position: relative;
    bottom: 8em;
  }
  .login, .registration-link {
    border: 1px solid black;
    background-color: green;
    color:black;
    padding: 18px;
    font-size: 18px;
    border-radius: 5px;
    max-width: 160px;
    margin-top: 5px;
    cursor: pointer;
  }
  .registration-link a:link {color:black; text-decoration: none;}
  .registration-link a:visited {color:black; text-decoration: none;}
  .registration-link a:hover {color:black; text-decoration: none;}
  .registration-link a:active {color:black; text-decoration: none;}

  /*-------------------------------------------------------------------------------------------------------------------------------------------*/
  /*Felgró-bejelentkező  ablak*/

    #uname, #password {
      width: 100%;
      padding: 12px 20px;
      margin: 8px;
      display: inline-block;
      border: 1px solid black;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .bej {
      border: 1px solid black;
      background-color: green;
      color:black;
      padding: 18px;
      font-size: 18px;
      border-radius: 5px;
      max-width: 160px;
      margin-top: 5px;
    }

  .cancelbtn {
      width:auto;
      padding: 10px 18px;
      background-color: #f44336;
      border: 1px solid #f44336;
      border-radius: 5px;
    }

    .imgcontainer {
      text-align: center;
      margin: 24px 0 12px 0;
      position: relative;
    }

    img.avatar {
       width: 40%;
       border-radius: 50%
    }

    .container {padding: 16px}

    span.psw {float: right; padding-top: 16px;}

    .modal {
      display: none;
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding-top: 60px;
    }

    .modal-content {
      background-color: orange;
      color: black;
      margin: 5% auto 15% auto;
      border: 1px solid orange;
      border-radius: 10px;
      width: 80%;
    }

    .close {
      position: absolute;
      right: 25px;
      top: 0;
      color:#000;
      font-size: 35px;
      font-weight: bold;
    }

    .close:hover, .close:focus {color: red; cursor: pointer;}

    .animate {
      -webkit-animation: animatezoom 1s;
      animation: animatezoom 1s;
    }
    @keyframes animatezoom {
      from {-webkit-transform: scale(0)}
      to {-webkit-transform: scale(1)}
    }
    @keyframes animatezoom {
      from {transform: scale(0)}
      to {transform: scale(1)}
    }

    /*-------------------------------------------------------------------------------------------------------------------------------------------*/
    /*Automata képnézegető*/
    .played-pic {display: none;}
    .VA {
      vertical-align: middle;
      height: 400px;
      border-radius: 10px;
      border: 5px dotted orange;
      -webkit-animation-name: scrl;
      -webkit-animation-duration: 1.5s;
      -webkit-animation-delay: 4s;
      animation-name: scrl;
      animation-duration: 1.5s;
      animation-delay: 4s;
    }
    .kontener {
      max-width: 90vw;
      max-height: 60em;
      position:relative;
      bottom: 8em;
      margin: auto;
    }
    .picTXT {
      color: #f2f2f2;
      font-size: 0.5em;
      padding: 0.25em 0.35em;
      position: absolute;
      bottom: 0.25em;
      width: 100%;
      text-align: center;
    }
    .numTXT {
      color: #f2f2f2;
      font-size: 0.4em;
      padding: 0.25em 0.35em;
      position: absolute;
      top: 0;
    }
    .slip {
      position: relative;
      -webkit-animation-name: slide;
      -webkit-animation-duration: 1.8s;
      animation-name: slide;
      animation-duration: 1.8s;
    }
    @-webkit-keyframes slide {
        from {transform: rotateX(90deg)}
        to {transform: rotateX(0deg)}
    }
    @keyframes slide {
        from {transform: rotateX(90deg)}
        to {transform: rotateX(0deg)}
    }
    @-webkit-keyframes scrl {
      from {transform: rotateX(0);}
      to {transform: rotateX(90deg);}
    }
    @keyframes scrl {
      from {transform: rotateX(0);}
      to {transform: rotateX(90deg);}
    }

/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*Hírfolyam*/
  #edited-content {
    background-color: rgba(255, 153, 0, 0.15);
    border-top: 3px solid orange;
    border-bottom: none;
    border-radius: 10px;
    margin: 0 auto 3em auto;
    padding: 1em;
    text-align: center;
    font-size: 1.1em;
    position: relative;
    bottom: 5em;
    max-width: 60em;
  }

  /*------------------------------------------------------------------EDITORS------------------------------------------------------------------*/
  #editor {
    margin: auto;
    display: block;
    width: 80%;
    font-size: 2em;
  }

  .editor-border {
    margin: auto;
    display: block;
    border: 3px solid orange;
    border-radius: 20px;
    max-width: 30em;
    padding: 2em;
  }

  .editor-btn {
    margin: auto;
    display: block;
    margin-bottom: 5em;
  }

  #img-upload-submit {
    margin: 1em auto;
    display: block;
    background-color: darkgreen;
    color: orange;
    border: 2px solid orange;
    border-radius: 10px;
    padding: 1em;
    font-size: 1em;
    width: 80%;
  }

  input[type=file] {
    margin: auto;
    display: block;
  }


  #checkbox {
    display: block;
  }



  #checkbox:checked ~ #editor {
    visibility: visible;
  }




/*-------------------------------------------------------------------------------------------------------------------------------------------*/
/*Alláb*/
  #open_hours2 {text-align: right; position: relative; bottom: 6.7em;}
  .moveup-hr {position: relative; }
  #map {margin: auto; display: block; width: 95vw;}
    #facebook-bottom {
    position: relative;
    left: 1.5em;
    top: 3em;
    display: block;
    margin: auto;
    padding: 0;
    border: 0px;
    border-radius: 50%;
    width: 3em;
  }
  #tripadvisor-bottom {
    position: relative;
    left: 1.5em;
    top: 3em;
    display: block;
    margin: 1em auto;
    padding: 0;
    border: 0px;
    border-radius: 50%;
    width: 3em;
  }




}
