<hr class="moving">

<footer>
  <!--Térkép-->
  <div class="googleMap">
    <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1348.7621347454678!2d18.957385301740427!3d47.46021218773051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xaf733ddcf8761dd5!2zQW50YWt5YSBEw7ZuZXIgVMO2csO2ayBCw7xmw6k!5e0!3m2!1shu!2shu!4v1548010867984"
     width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

  <div class="social-media">
    <a href="https://www.facebook.com/antakyadonerbudaors/" id="facebook-bottom"><img src="facebook.png" id="facebook-bottom" alt="facebook-icon"></a>
  </div>

  <!--Információk a lap alján is legyenek-->
  <div class="footer-infos">
    <pre id="shop_adress">
      2040 Budaörs Szabadság út 55.
      Tel.:06 70 251 1255
      rendeles.antakya@gmail.com
      (még nem aktív a rendelés)</pre>
      <pre id="open_hours2">
        <ins>Nyitvatartás:</ins>
        Hétfő      10:30-16:00
        Kedd       10:30-16:00
        Szerda     10:30-16:00
        Csütörtök  10:30-16:00
        Péntek     10:30-16:00
        Szombat    Zárva
        Vasárnap   Zárva
      </pre>
    </div>
</footer>



<%= javascript_include_tag "bejelentkezo-ablak" %>
