<nav>

  <!--Menü-->

  <ul>
    <li><%= link_to "Kezdőlap", root_path %></li>
    <li><%= link_to "Étlap/Rendelés(később)", orders_new_path %></li>
    <li><a href="antakya_we.html">Rólunk</a></li>
    <li><a href="antakya_intresting.html">Érdekességek</a></li>
    <li><a href="antakya_akciok.html">Akciók</a></li>
    <li id="facebook"><a href="https://www.facebook.com/antakyadonerbudaors/" id="facebook"><img src="facebook.png" id="facebook" alt="facebook-icon"></a></li>
  </ul>

</nav>
<hr>
